<h1 *ngIf="!myIViewThis()">You are Unauthorized to view This page</h1>
<div *ngIf="myIViewThis()">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="95" fxFlex="95">
            <mat-card class="mb-8">
                <h1>Upload new Problem:</h1>
                <label style="padding-bottom: 20px; padding-left: 20px;">{{uploadFileLabel}}</label>
                <button style="margin-bottom: 20px; padding-bottom: 5px;" mat-button (click)="CSVFile.click()">
                    <mat-icon class="uploadIcon">backup</mat-icon>
                </button>
                <input hidden type="file" accept=".csv" id="File" #CSVFile (change)="OpenFile($event)">
                <button mat-button mat-raised-button *ngIf="!canUpload" color="primary" disabled="true"
                    class="myButton">Process File and Upload</button>
                <button mat-button mat-raised-button *ngIf="canUpload" color="primary" (click)="uploadEntry()"
                    class="myButton">Process File and Upload</button>
                <p *ngIf="loader"><strong>This might take some time to Calculate, depending on the amount of
                        Remedies.</strong></p>
                <mat-spinner *ngIf="loader"></mat-spinner>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="95" fxFlex="95">
            <mat-card class="mb-8">
                <mat-progress-bar *ngIf="!viewData" mode="indeterminate"></mat-progress-bar>
                <div *ngIf="viewData" fxLayout="row wrap" fxFlex=100>
                    <h1 fxFlex=100>{{displayHeading}}</h1>
                    <div style="margin-left: 20px;" fxFlex=100>
                        <div fxFlex=65>
                            <mat-slide-toggle [(ngModel)]="showLatestUploads" (change)="toggleSide($event)">
                                Lates-problems / Latest-uploads </mat-slide-toggle>
                        </div>
                        <mat-checkbox style="padding-top: 12px;"
                            (change)="ToggleSelectAll($event)">Select all</mat-checkbox>
                        <button class="myActions" matTooltip="Delete all selected Entries" (click)="delete()"
                            mat-icon-button color="warn">
                            <mat-icon style="font-size: 35px;">delete</mat-icon>
                        </button>
                        <mat-progress-bar *ngIf="isDeleteing" class="deleter" mode="indeterminate"></mat-progress-bar>
                    </div>
                    <mat-table fxFlex="100" #table [dataSource]="orderDataSource" matSort>
                        <ng-container matColumnDef="Id">
                            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <p>{{element.problemBaseId}}</p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ProblemName">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <p>{{element.name}}</p>
                            </mat-cell>
                        </ng-container>
                       
                        <ng-container matColumnDef="Select">
                            <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <mat-checkbox (change)="addOrRemoveFromMyDeleteList($event, element.productBaseId)"
                                    *ngIf="selectAll" checked="true" style="margin-left: 12px;"></mat-checkbox>
                                <mat-checkbox (change)="addOrRemoveFromMyDeleteList($event, element.productBaseId)"
                                    *ngIf="!selectAll" style="margin-left: 12px;"></mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [ngClass]="{'edit-class': selectedRowIndex === row.id}"></mat-row>
                    </mat-table>
                    <div fxFlex="grow">
                        <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 150]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>