<div fxLayoutAlign="center center">
    <div fxFlex.gt-sm="55" fxFlex="95">
        <mat-card *ngIf="showme">
            <div>
                    <mat-form-field fxFlex="30">
                            <mat-label>Select Entry</mat-label>
                            <mat-select [(ngModel)]="selectedLevel" (selectionChange)="selected()">
                                <mat-option *ngFor="let item of myRanges" [value]="item.entryId">
                                    {{item.entryName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
            </div>
            

            <h2>{{heading}}</h2>
            <button style="margin: 10px" matTooltip="Enquire for this Entry" mat-raised-button color="primary"
                (click)="enquire()">Enquire</button>
            <img *ngIf="getImageConnectionString() != undefined" style="height:300px; width: auto;"
                src="{{getImageConnectionString()}}">

            <div>
                <table>
                    <tbody>
                        <tr>
                            <th>Brand</th>
                            <td><a [routerLink]="['/details/brand',myBrand.brandId]">{{myBrand.name}}</a></td>
                        </tr>
                        <tr *ngFor="let entity of myAttributes">
                            <th *ngIf="entity.value != undefined">{{entity.attribute}}</th>
                            <td *ngIf="entity.value != undefined">{{entity.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card>
    </div>
</div>