<div fxLayout="row wrap">

    <drag-scroll fxFlex="100" fxHide.gt-md>
        <a drag-scroll-item class="side-scroll-item" [routerLink]="['/problemsAndSolutions']"
            routerLinkActive="router-link-active">Problems
            &
            Solutions</a>
        <a drag-scroll-item class="side-scroll-item" [routerLink]="['/productsAndServices']"
            routerLinkActive="router-link-active">
            Products & Services
        </a>
        <a drag-scroll-item class="side-scroll-item" href="https://www.ventusky.com/?p=-26.9;24.7;4&l=temperature"
            routerLinkActive="router-link-active">
            Interactive Map

        </a>
        <a drag-scroll-item class="side-scroll-item" [routerLink]="['/appspage']" routerLinkActive="router-link-active">
            Applications
        </a>
    </drag-scroll>
    <div fxLayout="row" fxLayoutAlign="center center">

        <div fxFlex="95" fxLayout="row" >
            <a href="https://stocktheft.com/bbsensor/">
                <img class="icon" src="../../../assets/images/logos/New afn logo.png">
            </a>
            <a href="https://stocktheft.com/stic/">
                <img class="icon" src="../../../assets/images/logos/STIC Logo.png">
            </a>
        </div>
    </div>

</div>