<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.gt-sm="55" fxFlex="95">
        <mat-card class="myCard" (click)="toMediaPost()"><h2>Upload Media</h2></mat-card>
        <mat-card class="myCard" (click)="toEntryPost()"><h2>Upload Entries</h2></mat-card>
        <mat-card class="myCard" (click)="toSolutionPost()"><h2>Upload Problem</h2></mat-card>
        <mat-card class="myCard" (click)="toRemedyPost()"><h2>Upload Remedies</h2></mat-card>
        <!-- <mat-card class="myCard" (click)="toVieMedia()"><h2>View Media</h2></mat-card> -->
    </div>
</div>
    
