.pointer {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}

.adminDeleteStyle {
    color: red;
    margin-left: -10px;
    position: static;
    margin-right: 10px;
}

.adminAdd {
    font-size: 29px;
    margin-right: 10px;
}

.adminInput {
    font-size: 20px;
    background: lightgray;
    width: 200px;
}

.addAdmin {
    margin-left: 5px;
    color: green; 
    font-size: 30px;
}